<div class="container p-3">
  <h1>String Interpolation</h1>
  <p>{{countries}}</p>
  <hr>
  <h2>Property Binding</h2>
  <img class="img" [src]="image" width="200px" alt="">
  <hr>
  <h2>Event Binding</h2>
  <h3>count : {{count}}</h3>

  <button class="btn btn-primary" (click)="increaseCount()"> Increase</button>

  <h2>Input</h2>
  <input type="text" (input)="updateValue($event)">
  <h3>value : {{value}}</h3>

  <h2>Two way Data Binding</h2>
  <input type="text" [(NgModel)]="fullname">
  <h3>fullname : {{fullname}}</h3>

  <h2>Class Binding</h2>
  <h4 ngClass="is_success ? 'success' : 'error' "> Charles</h4>
</div>